main {
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 35px;
    background-color: black;
    font-family: "Courier New", Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
    padding: 5px;
    margin: auto;
    font-size: 60px;
}

button {
    width: 100px;
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    margin: 5px;
}

div {
    padding: 5px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dblWide {
    width: 210px;
    background-color: gray;
    border-radius: 35px;
    margin-top: 10px;
}

#display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    height: 100px;
    width: 430px;
    margin: auto;
    border-radius: 35px;
}

#equality {
    background-color: orange;
}

.numbers {
    background-color: white;
}

.operators {
    background-color: silver;
}

/*
Change color scheme and styling?
add a =/- key and reconfigure button alignment?
*/