main {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: auto;
}

button {
    width: 100px;
    height: 100px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}

#dblWide {
    width: 200px;
}
/*
Determine font and color scheme
Figure out how to use flexbox or grid to align buttons within container properly
*/