main {
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 35px;
    background-color: black;
    font-family: "Courier New", Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
    padding: 5px;
    margin: auto;
    font-size: 60px;
}

button {
    width: 100px;
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    margin: 5px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wider {
    width: 135px;
    background-color: #425A7D;
    border-radius: 35px;
    margin-top: 10px;
}

#display, #readout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    height: 100px;
    width: 430px;
    margin: auto;
    border-radius: 35px;
    font-family: inherit;
}

#equality {
    background-color: #DF7356;
}

.numbers {
    background-color: white;
}

.operators {
    background-color: #A0C0D6;
}

/*
need to change display/readout styling to make edges look right - use developer tools
how to get cursor of input text box on right side rather than left
how to set up font size without left side of readout bumping out to left
make font of readout bold?
*/